<configuration>

    <property name="PROJECT_HOME" value="/home/guntz/dev/projects/spring/ems/guntz-posts/microservices/text-processor-service" />
    <property name="PROJECT_NAME" value="guntz-posts-text-processor-service" />

    <appender name="saidaPadrao" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{dd/MM/yyyy HH:mm:ss} %highlight(%-5level) %cyan(%logger{15}) - %message %n</pattern>
        </encoder>
    </appender>

    <appender name="arquivo" class="ch.qos.logback.core.FileAppender">
        <file>${PROJECT_HOME}/${PROJECT_NAME}-slf4j-logback.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{dd/MM/yyyy HH:mm:ss} %-5level %logger{15} - %message %n</pattern>
        </encoder>
    </appender>

    <logger name="br.com.guntz.posts.text.processor" level="INFO" />

    <root level="INFO">
        <appender-ref ref="saidaPadrao" />
        <appender-ref ref="arquivo" />
    </root>
</configuration>